.homeContainer {
  text-align: center;
}

.descriptionContainer p {
  margin: 0;
}
.cardsContainer {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
  }
}
